html, body {
  height: 100%;
  width: 100%;
}
.nav-butn{
  height: 50px;
  width: 200px;
}
button{
  font-family: Fredoka One;
}
@font-face {font-family: "Fredoka One"; src: url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot"); src: url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff") format("woff"), url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.svg#Fredoka One") format("svg"); }
nav button{
  border-radius: 100px;
  background-color: lightblue;
  box-shadow: 5px 5px grey;
  color: white;
}
nav button:hover{
  background-color: blue;
}
header .my-img img{
  border-radius: 15px;
}
